* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*incluir pading e border no tamanho total de um elemento*/
}

body {
    height: 100vh;
    justify-items: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: blue;
    padding: 32px;
    max-width: 400px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

button {
    background-color: green;
    margin-top: 20px ;
    padding: 3px;
}

button:hover {
    background-color: greenyellow;
    color: red;
}

 a {
    color: aliceblue;
 }

 #logo {
    width: 50%;
    
 }